/* .scroll-container {
  background: transparent;
  overflow: auto;
  padding: 10px;
  white-space: nowrap;
}

.scroll {
  display: inline-block;
} */

.img-recomendation {
  padding: 10px;
}

.start-recipe {
  padding-top: 20px;
}
